{{ pokemon.types[0].type.name }}
<div class="container text-center">
    <div class="display-6">
        Pokedex
    </div>
    <div class="row m-6 pokemon_name">
        <div class="col">
            <h4><p>{{pokemon.name}}</p>  <p>{{pokemon.id}}</p></h4>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
            width="400px"
            class="shadow rouded"/>
           
        </div>
       
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
             <button type="button" style="width: 100px;" class="btn btn-secondary">Anterior</button>
             <button type="button" style="width: 100px;" class="btn btn-secondary">Próximo</button>
        </div>
    </div>
</div>
    <div class="row m-3">
        <div class="col">
           
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
         <!--<button class="btn btn-primary" (click)="loadDog()"> Novo Dog</button>-->
        </div>
    </div>
